{#
 # Careers entry template
 # -------------------
 #
 # This template gets loaded whenever http://frionaindustries.com/careers/[entry] is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <article>
        <h1>{{ entry.title }}</h1>

        <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
        {{ entry.body }}

        {% set application = entry.application.first() %}
        {% if application | length %}
            <hr>
            <p><a href="{{ application.url }}" target="_blank">{{ application.title }}</a></p>
        {% endif %}
        <a href="/careers">Back to careers</a>
    </article>
{% endblock %}
