{#
 # Careers index template
 # -------------------
 #
 # This template is loaded whenever http://frionaindustries.com/careers is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.config.csrfTokenName }}";
        window.csrfTokenValue = "{{ craft.request.csrfToken }}";
    </script>

    <h1>{{ entry.title }}</h1>
    {{ entry.body }}

    {#
     # Get all locations from the Locations category group.
     #}
    {% set locations = craft.categories.group('locations') %}

    {% if locations|length %}
        <h3>Search open positions by location.</h3>
        <select id="locationCareers" name="locationCareers">
            <option value="">Select Location</option>
            {% for location in locations %}
                <option value="{{ location.slug }}">{{ location.title }}</option>
            {% endfor %}
        </select>
        <div id="openPositions"></div>
    {% endif %}
{% endblock %}
