{#
 # Locations entry template
 # -------------------
 #
 # This template gets loaded whenever http://frionaindustries.com/locations/[location] is requested.
 #
 #}

{% extends "_layouts/default" %}

{% block content %}
    <script type="text/javascript">
        window.csrfTokenName = "{{ craft.config.csrfTokenName }}";
        window.csrfTokenValue = "{{ craft.request.csrfToken }}";
    </script>
    <input type="hidden" value="{{ category.address.street1 }}" id="address">
    <input type="hidden" value="{{ category.address.city }}" id="city">
    <input type="hidden" value="{{ category.address.state }}" id="state">
    <input type="hidden" value="{{ category.address.zip }}" id="zip">

    {#
     # Get the current category based on the current url segment.
     #}
    {% set category = craft.categories.slug(craft.request.getSegment(2)).first() %}

    <h1>{{ category.title }}</h1>
    {{ category.body }}

    <hr>

    {% if category.fullName|length %}
        <h2>Contact Information</h2>
        <ul>
            <li>{{ category.fullName }}</li>
            <li><a href="mailto:{{ category.email }}">{{ category.email }}</a></li>
        </ul>
    {% endif %}

    <hr>

    {# Google Map of location. #}
    {% set options = {
    height: 300,
    zoom: 9,
    draggable: false,
    infoWindowOptions: {
    maxWidth: 200
    }
    } %}

    {# Yahoo weather widget. #}
    <div id="weather"></div>

    <hr>

    <div id="map">
        {# For some reason, the smart map is blocking the weather request(s)? #}
        {{ craft.smartMap.map(category.address, options) }}
    </div>

    {#
     # List any open positions for this location.
     #}
    {% set careers = craft.entries.relatedTo(category) %}
    {% if careers|length %}
        <div id="openPositions">
            <h2>Careers</h2>
            {% for entry in careers %}
                <article>
                    <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                    {{ entry.summary }}
                    <p><a href="{{ entry.url }}">Learn More</a></p>
                </article>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
