{#
 # Locations index template
 # -------------------
 #
 # This template is loaded whenever http://frionaindustries.com/locations is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <h1>{{ entry.title }}</h1>
    {{ entry.body }}

    {#
     # Loop through all of the locations
     #}
    {% for category in craft.categories.group('locations') %}
        <article>
            <h3><a href="{{ category.url }}">{{ category.title }}</a></h3>
            {{ category.body }}
            <p><a href="{{ category.url }}">Continue reading</a></p>
        </article>
        <hr>
    {% endfor %}
{% endblock %}
