{#
 # About us index template
 # -------------------
 #
 # This template is loaded whenever http://frionaindustries.com/about is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <h1>{{ entry.title }}</h1>

    <ul>
        <li><a href="{{ url('about/history') }}">History</a></li>
        <li><a href="{{ url('about/philosophy') }}">Philosophy</a></li>
        <li><a href="{{ url('about/affilliations') }}">Affilliations</a></li>
    </ul>

    <article>
        {{ entry.body }}
    </article>
{% endblock %}
