{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layouts/default" %}

{% block content %}
    <article>
        <h1>{{ entry.title }}</h1>

        <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
        {{ entry.body }}
    </article>
{% endblock %}
