{#
 # Sustainability us entry template
 # -------------------
 #
 # This template gets loaded whenever http://frionaindustries.com/sustainability/[entry] is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <article>
        <h1>{{ entry.title }}</h1>
        {{ entry.body }}
    </article>
{% endblock %}
