{#
 # Sustainability index template
 # -------------------
 #
 # This template is loaded whenever http://frionaindustries.com/sustainability is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <h1>{{ entry.title }}</h1>

    <ul>
        <li><a href="{{ url('sustainability/animal-health') }}">Animal Health/BQA</a></li>
        <li><a href="{{ url('sustainability/community') }}">Community</a></li>
        <li><a href="{{ url('sustainability/enough-movement') }}">ENOUGH Movement</a></li>
    </ul>

    <article>
        {{ entry.body }}
    </article>
{% endblock %}
