* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #fff url(/resources/img/pattern.jpg)repeat;
}

body {
  background:transparent url('/resources/img/bg.png')top no-repeat;
  background-size: 100% auto;
}

.cf:before,
.cf:after {
  @extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;

}

.flexslider {
  margin:0;
  background: none;
  border:0;
  border-radious:0;
  &#carousel {
    li {
      float:none !important;
    }
  }
  .item {
    margin:0;
    border-bottom: solid 1px $light;
    padding-top:10px;
    padding-bottom:10px;
    p {
      font-size: 12px;
    }
    &:last-child {
      border-bottom: 0;
    }
    &:before,&:after {
        @extend %clearfix;
    }
  }
}

.news {
  .preview {
    h3 {
      font-size: 16px;
    }
  }
  .preview, .story {
    p {
      color:white;
      font-size: 14px;
      margin: 0;
    }
    h2,h3 {
      color:$secondary;
    }
  }
  .container-fluid {
    background: url('/resources/img/newsShadow.png')no-repeat bottom;
    background-size: 100%;
    padding-bottom: 65px;
    .row {
      background: url('/resources/img/newsBG.jpg')repeat;
      padding:2em;
      box-shadow:0 0 15 px rgba(black,.4);

    }
  }
}

.wrap {
  max-width: 940px;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}


.container-fluid {
  max-width:940px;
}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


