// COLOR PALETTE
$primary: #393939;
$secondary: #eda900;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$light: #9a9a9a;

// FONT STACKS
$heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body: 'Helvetica Neue', Helvetica, Arial, sans-serif;