{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>

    <style type="text/css">
        body {
            margin: 50px;
            font-family: sans-serif;
            background: #fff;
        }

        #container {
            margin: 0 auto;
            width: 700px;
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        #header, #footer {
            display: block;
            color: #fff;
            background: #da5a47;
        }

        #header a, #footer a {
            color: #fff;
        }

        #header {
            border-radius: 7px 7px 0 0;
            padding: 25px;
        }

        #header:after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #header a {
            text-decoration: none;
        }

        #header h1 {
            float: left;
            margin: 0;
            font-weight: normal;
            font-size: 30px;
            line-height: 1;
        }

        #header nav {
            display: block;
            float: right;
        }

        #header nav ul {
            margin: 0;
            list-style-type: none;
        }

        #header nav ul li {
            float: left;
            margin-left: 20px;
        }

        #header nav ul li a {
            display: block;
            margin-top: 4px;
            line-height: 22px;
        }

        #header nav ul li a:hover,
        #header nav ul li a.active {
            border-bottom: 2px solid #fff;
        }

        #header nav ul li a.active {
            cursor: default;
        }

        #content {
            display: block;
            padding: 25px;
            background: #fff;
        }

        #content h1 {
            margin-top: 0;
            font-size: 35px;
            font-weight: bold;
        }

        #content a {
            color: #da5a47;
            text-decoration: none;
        }

        #content a:hover {
            text-decoration: underline;
        }

        #footer {
            border-radius: 0 0 7px 7px;
            padding: 15px;
            font-size: 12px;
            text-align: center;
        }
    </style>
    
    <link rel="stylesheet" href="/resources/css/base.css">
    <script src="/resources/js/vendor/require.js" data-main="/resources/js/app.config"></script>
</head>

<body>
<div id="container">
    <header id="header">
        <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

        <nav>
            <ul>
                <li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="content" role="main">
        {% block content %}
            <p>If you see me, you haven’t set your
                <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
            <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template
                    Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
    </main>

    <footer id="footer">
        Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a
                href="http://buildwithcraft.com">Craft</a>
    </footer>
</div>
</body>
</html>
