{#
 # Contact us entry template
 # -------------------
 #
 # This template gets loaded whenever http://frionaindustries.com/contact/[entry] is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <article>
        <h1>{{ entry.title }}</h1>

        <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
        {{ entry.body }}
    </article>
{% endblock %}
