{#
 # Contact index template
 # -------------------
 #
 # This template is loaded whenever http://frionaindustries.com/contact is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <h1>{{ entry.title }}</h1>
    <article>
        {{ entry.body }}
    </article>
{% endblock %}
