{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layouts/home" %}

{% block content %}
    <h1>{{ entry.title }}</h1>

    <ul>
        <li><a href="about">About Us</a></li>
        <li><a href="locations">Locations</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="sustainability">Sustainability</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>

    {{ entry.body }}

    <h2>Recent News</h2>
    <ul>
        {% for entry in craft.entries.section('news').limit(5).find() %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
